{% extends "hwranker/base.html" %}
{% load static %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">#1 Housewife</h1>
        <p class="lead">The overall highest ranked housewife is: </p>
        <hr class="my-4">
        <img src="{% static 'hwranker/images/luann.png' %}" class="rounded mx-auto d-block shadow" alt="...">
        <h4 class="mx-auto" style="width: 200px;">Luann de Lesseps</h4>
        <button type="button" class="btn btn-secondary btn-lg btn-block center" >Learn more about the highest ranked housewife</button>
    </div>
{% endblock content %}
        
        
      
