<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Housewives Ranker</title>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
          <div class="row">
            <div class="col">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src="images/luann.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Luann deLesseps</h5>
                        <p>
                          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Bio
                          </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                          <div class="card card-body">
                            Luann de Lesseps is an American television personality, model, author, and singer. In 1993, she married French entrepreneur and aristocrat Count Alexandre de Lesseps; they divorced in 2009 but she retained the courtesy title "countess" until her remarriage in 2016.
                          </div>
                        </div><p class="card-text"></p>
                        <p class="card-text">RHONY Seasons 1-5, 7-12</p>
                      </div>
                </div>
            </div>
            <div class="col">

            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
          </div>
          
        
        
    </body>
</html>