{% extends "hwranker/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
      <div class="col">
          <div class="card mx-auto" style="width: 18rem;">
              <img src="{% static 'hwranker/images/luann.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Luann deLesseps</h5>
                  <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Bio
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      Luann de Lesseps is an American television personality, model, author, and singer. In 1993, she married French entrepreneur and aristocrat Count Alexandre de Lesseps; they divorced in 2009 but she retained the courtesy title "countess" until her remarriage in 2016.
                    </div>
                  </div><p class="card-text"></p>
                  <p class="card-text">RHONY Seasons 1-5, 7-12</p>
                </div>
          </div>
      </div>
      <div class="col">

      </div>
      <div class="col">
          <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
          </div>
      </div>
    </div>
{% endblock content %}
          
        
