.navigation {
	background-color: #ff33e450;
}

.container {
	width: 95%;
}

a.blacktext {
	color: black;
}

.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.shadow {
	box-shadow: 15px 15px 15px #000;
}
